body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
  }
  
  .container h2 {
    margin-top: 0;
  }
  
  .participants,
  .results {
    flex-basis: 45%;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  #sortButton {
    padding: 10px 20px;
    font-size: 16px;
  }
  
  #sortButton:hover {
    background-color: #ddd;
    cursor: pointer;
  }